In [1]:
import pandas as pd
import numpy as np
from luwiji.pandas import illustration

In [4]:
data = {"a" : [1, 2, 3],
        "b" : [3, 4, 5],
        "c" : [5, 6, 7]} 
data

{'a': [1, 2, 3], 'b': [3, 4, 5], 'c': [5, 6, 7]}

In [6]:
pd.DataFrame(data)

   a  b  c
0  1  3  5
1  2  4  6
2  3  5  7

# Membaca Data dari File

In [ ]:
df = pd.read_csv(Documents/supervised_learning/)